* {
  font-size: 12px;
}
th {
  background-color: orange;
}

td {

}
h1 {
  text-align: center;
}
.num {
  font-size: 20px;
  font-weight: bold;
  clear: both;
}

table {
  width: 100%;
  /*border: white solid 5px;*/
}

.date {
  font-size: 8px;
}

.tentative {
  background-color: purple;
}

.complete {
  background-color: turquoise;
}
