.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }

th {
  background-color: orange;
  height: 30px;
  width: 60px;
  padding: 10px;
}

td {
  background-color: pink;
  height: 30px;
  width: 60px;
  padding: 10px;
  border: white solid 5px;
}

.num {
  font-size: 20px;
  font-weight: bold;
  clear: both;
}

table {
  border: white solid 5px;
}

.date {
  font-size: 8px;
}

.tentative {
  background-color: purple;
}

.complete {
  background-color: turquoise;
}
