/*Colors:
#5E1504
#AD5B35
#FFB540
#FFD23A
#7A7C79*/

* {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
th {
  background-color: #AD5B35;
}

h1 {
  text-align: center;
  color: #5E1504;
}
.num {
  font-size: 8px;
  font-weight: bold;
  clear: both;
}
.week {
  background-color: #5E1504;
  color: #7A7C79;
}
.total {
  background-color: #7A7C79;
  color: #5E1504;
}
table {
  width: 100%;
  /*border: white solid 5px;*/
}

.date {
  font-size: 8px;
}

.tentative {
  background-color: #FFD23A;
}

.complete {
  background-color: #FFB540;
}
